body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    
}

.sec-a{
    text-align: center;
    background-image: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 340px;
    color: white;
    margin-bottom: 100px;
}

.headline{
    font-size: 70px;
}

.quote{
    margin-bottom: 50px;
}

.button{
    text-decoration: none;
    padding: 20px;
    margin: 200px;
    color: white;
    background-color: #fe6053;
    border-radius: 7px;
    font-weight: 500;
} 


.sec-b{
    text-align: center;
    color: #343a40;
}

.donate{
    font-size: 50px;
    font-weight: 800;
}

.amount{
    display: flex;
    margin-left: 33%;
} 

h5{
    font-size: 20px;
    background-color: #ebebeb;
    padding: 35px 25px;
    margin: 10px;
    border-radius: 7px;
}

.amountstyle{
    background-color: #f79d84;
    border: 3px solid #ed6a5e;
}

.otheram{
     margin-top: 50px;
     padding:10px 100px;
     text-align: center;
     border: 0;
     border-bottom: 1px solid gray;
     
}
.taka{
    margin-bottom: 30px;
}


.sec-c{
    text-align: center;
    margin-top: 100px;
    color: #343a40;
}
 
.ourwork{
    display: flex;
    width: 100%;
}

.planfood{
    box-shadow: 10px 10px 40px gray;
    padding: 70px;
    margin: 50px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
    background-color: #90e0ef;
}

.planhome{
    box-shadow: 10px 10px 40px gray;
    padding: 70px;
    margin: 50px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
    background-color: #f7cad0;
}

.planeducation{
    box-shadow: 10px 10px 40px gray;
    padding: 70px;
    margin: 50px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 20px;
    background-color: #cbf3f0;
}


.sec-d{
    display: flex;
    padding: 100px 0 100px 0;
    margin:100px 0 100px 0;
    width: 100%;
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #343a40;
    background-image: url(images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;

}
.sec-d p{
    margin-bottom: 40px;
}

.buttonLearn{
    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: #fe6053;
    border-radius: 7px;
    font-weight: 500;
}

.sec-d img{
    width: 100%;
    
}

.worldwide{
    
    padding-left: 15%;
    padding-top: 10%;
}
 

.sec-e{
    color: #343a40;
}

.update{
    text-align: center;
    margin-bottom: 50px;
}
.subscribe{
    display: flex;
    margin: 2% 30% 10% 30%;
    padding: 40px 0 40px 0;
    background-color: #ffee99 ;
    border-radius: 10px;
}
.subscribe input{
    margin-left: 29%;
    padding: 15px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.subscribe a{
    text-decoration: none;
    padding: 20px;
    background-color: #fe6053;
    color: #ebebeb;
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




footer{
    background-color: #212529;
    color: #fe6053;
    text-align: center;
    padding: 15px;
}